:host {
  --oec-nav-search-padding-right: 0;
  display: flex;
  flex: 1;
}
:host svg {
  width: 16px;
  height: 16px;
}
:host .search-box {
  display: flex;
  flex-flow: row nowrap;
  position: absolute;
  top: 50%;
  left: calc(100% - var(--oec-nav-search-padding-right));
  transform: translate(-100%, -50%);
  background: transparent;
  border-radius: 50px;
  padding: 2px;
  transition: all 0.3s cubic-bezier(0.35, 0, 0.25, 1);
}
:host .search-box.expanded {
  background: currentColor;
}
:host input {
  outline: none;
  border: none;
  background: none;
  width: 0;
  padding: 0;
  color: #fff;
  font-size: 12px;
  transition: all 0.3s cubic-bezier(0.35, 0, 0.25, 1);
}
:host input::placeholder {
  color: #cfcfcf;
}
:host button {
  display: flex;
  flex: 1;
  color: currentColor;
  border: none;
  border-radius: 50px;
  background: #fff;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 0.3s;
}
:host input:focus,
:host input:not(:placeholder-shown) {
  width: 140px;
  padding: 0 6px;
}
:host .search-box:hover > input,
:host .search-box.expanded > input {
  width: 140px;
  padding: 0 6px;
}
:host .search-box:hover > button,
:host input:focus + button,
:host input:not(:placeholder-shown) + button {
  background: #fff;
  color: currentColor;
  transform: rotate(360deg);
}