:host {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--oec-overlay-background);
  color: var(--oec-overlay-color);
  padding: 5px;
  border-radius: 4px;
  pointer-events: all;
  z-index: 2;
}